<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="racingrivals.artoos.com.racingrivals" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.artoos.racing.FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".listener.WearListener" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name="com.artoos.racing.FireBaseService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.artoos.racing.ListActivity"
            android:label="@string/title_activity_notused"
            android:parentActivityName="com.artoos.racing.FirstActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artoos.racing.FirstActivity" />
        </activity>
        <activity
            android:name="com.artoos.racing.CreateRaceActivity"
            android:label="@string/title_activity_create_race" >
        </activity>
    </application>

</manifest>
